#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 800px;
  margin: 0 auto;
  gap: 10px;
}

.starship-card {
  width: 18%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 72, 82);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.starship-card h2 {
  font-weight: normal;
  font-size: large;
  
}

@media (max-width: 600px) {
  .card-container {
    justify-content: center;
  }

  .starship-card {
    width: 45%;
    margin: 10px;
  }
}

.heading {
  background-color: black;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.heading h1 {
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: large;
}

.card {
  padding: 2em;
}


